body {
    background-image: url(./images/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    font-family: 'Do Hyeon', sans-serif;
}

header {
    text-align: center;
}

header h1 {
    color: #f5f5f5;
    margin-top: 8%;
    font-size: 130px;
    margin-bottom: 0px;
    text-decoration: overline;
    text-decoration-color: #ffd700;
}

header h2 {
    color: #f5f5f5;
    font-size: 31px;
}

.parts {
    margin-top: 2%;
    text-align: center;
}

.part {
    border: 2px solid;
    border-radius: 8px;
    margin-right: 10px;
    padding: 10px;
    width: 140px;
    color: whitesmoke;
    font-weight: bold;
    transition: all .07s;
}

button {
    background: none;
}

.playing {
    transform: scale(1.1);
    border-color: #ffd700;
    box-shadow: 0 0 10px #817777;
}

.part kbd {
    font-size: 37px;
    padding-bottom: 2px;
    background: transparent;
    /* margin: 0px auto; */
}

.label {
    font-size: 17px;
    color: #ffd700;
    font-weight: 500;
}

@media(max-width:700px) {
    header {}
    header h1 {
        font-size: 40px;
        margin-top: 12%;
    }
    header h2 {
        font-size: 18px;
    }
    .parts {
        margin-top: 5%;
    }
    .part {
        width: 120px;
        margin: 0px 5px 10px 0px;
    }
}